.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 14px;

  a {
    padding: 8px 16px;
    border-radius: 14px;
    background-color: black;
    color: white;
  }
}
